* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas {
    position: absolute;
    background: rgb(218, 215, 201);
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}
.generate-tree-button {
    position: absolute;
    left:0;
    z-index: 10;
    cursor: pointer;
    bottom: 5%; 
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 30px;
    border-radius: 50px;
    background-image: radial-gradient(circle, rgb(255, 208, 0), rgb(214, 172, 57),rgb(223, 206, 171));

    color: black;
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#DisplayBtn{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 30px;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(136, 219, 98) , rgb(233, 162, 55));
    color: black;
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
#DownloadBTN{
    padding: 20px 30px;
    border-radius: 50px;
    background-image: radial-gradient(circle,  rgb(28, 70, 9) ,  rgb(98, 160, 62),rgb(200, 236, 148));
    color: black;
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#DownloadBTN:hover{
    background-image: radial-gradient(circle,  rgb(195, 235, 174) ,  rgb(108, 170, 73),rgb(56, 87, 14));
}
#DisplayBtn:hover{
    background-image: linear-gradient(to right, rgb(255, 164, 28), rgb(110, 255, 43));
    border: 2px gold solid;
}

#DisplayImg h3 {
    font-size: 2vw;
}
#DisplayImg{
    /* display: none; */
    border-radius: 25%;
    text-align: center;
    border: 15%;
    border: 2px goldenrod solid;
    left: 25vw;
    top: 18vh;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 1%;
    /* background-color: rgb(122, 122, 120); */
    background-color: #dad7c9;

}
#creditInfo{
    position: absolute;
}

#DisplayImg img{
   width: 66vw;
    
}
#info{
    font-size: 20px;
    color: black;
}
#info:hover{
    font-size: 30px;
    color: rgb(19, 61, 109);
    cursor: pointer;
}
#contentInfo{
    text-align: center;
    margin: 1%;
}

/* The Modal (background) */
.modal {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    border-radius: 5%;
    background-color: #dad7c9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }